<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--**************************************初始化配置文件***************************************-->
    <!--是否已经设置Store_UUID及云端地址，初始值：no。-->
    <add key="InitStore" value="no" />
    <!--数据脚本是否已经执行：已执行（yes）,未执行（no）。初始值:no。-->
    <add key="InitDb" value="no" />
    <!--数据库类型：mysql,sqlserver。初始值：mysql。-->
    <add key="DbType" value="mysql" />
    <!--程序是否允许：运行（yes）,未运行（no）。初始值：no。-->
    <add key="IsRun" value="no" />
    <!--window服务托管服务名称-->
    <add key="WebApiService" value="WebApi2"/>
    <!--mysql超时时间-->
    <add key="MysqlTimeout" value="1200"/>
    <!--*******************************************************************************************-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="MySql" connectionString="server=127.0.0.1;user id=root;password=root;database=xlypos_dev;allowuservariables=True;" />
    <add name="MSSQL" connectionString="data source=127.0.0.1;initial catalog=xlypos2.0;User id=sa;password=123456;MultipleActiveResultSets=True" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>